<div class="container-login100">
    <div class="wrap-login100">
      <h1 align="center">USTED NO TIENE PERMISOS POR FAVOR CONTÁCTESE CON EL ADMINISTRADOR DEL SISTEMA</h1>
      <br>
      <div class="contener">
        <img class="imagen" src="../../../assets/images/AccesoDenegado.png"  width="500" height="300">
       </div>
        <div class="container-login100-form-btn">
          <button mat-flat-button color="primary" (click)="atras()">ATRÁS</button>
        </div>
        <br>
    </div>
  </div>