<mat-card>
  <mat-card-header>
    <mat-card-title>CATEGORIAS</mat-card-title>
    <mat-card-subtitle>Agregar</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-fab color="primary" matTooltip="Agregue una Nueva Categoria"
    [matTooltipDisabled]="disabled.value" (click)="openDialog(1,null)">
    <mat-icon>add_business</mat-icon>
    </button>
  </mat-card-actions>
<br>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="buscar categoria" [formControl]="filtro">
          </mat-form-field>
        </td>
        &nbsp;
        <td>
           <button mat-fab color="primary" matTooltip="Buscar categoria"
           [matTooltipDisabled]="disabled.value" (click)="filtrar()"><mat-icon>search</mat-icon></button>
        </td>
      </tr>
    </table>



    <div class="contenedorTabla">
      <div class="mat-elevation-z8 table-responsive ">
          <table mat-table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Descripcion Column -->
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

          

         

             <!-- Acciones Column -->
             <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog(2,element)">
                    <mat-icon>edit_note</mat-icon>
                    <span>EDITAR</span>
                  </button>
                  <button mat-menu-item (click)="eliminar(element.id)">
                    <mat-icon>delete_sweep</mat-icon>
                    <span>ELIMINAR</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex"
          (page)="handlePage($event)"
          aria-label="Select page">
          </mat-paginator>
        </div>
  </div>
  </mat-card-content>
</mat-card>



