<h2 mat-dialog-title>{{ form.value.id === 0 ? 'Agregar Egreso' : 'Editar Egreso' }}</h2>

<mat-dialog-content>

  <br>
  <form [formGroup]="form" class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Costo</mat-label>
      <input matInput formControlName="costo">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>