<h1 mat-dialog-title>CATEGORIA</h1>
<div mat-dialog-content>
    <div class="body-content">
        <div class="module">
          <form class="form" novalidate [formGroup]="categoria">
              <label class="label">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Ingrese El Nombre</mat-label>
                  <input matInput placeholder="Nombre" formControlName="Nombre">
                  <mat-hint align="end" *ngIf="categoria.get('Nombre')!.value===''" style="color: red;">Campo Obligatorio</mat-hint>
                </mat-form-field>
              </label>
        
            <label class="label">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Ingrese La Descripcion</mat-label>
                <input matInput placeholder="Descripcion" formControlName="Descripcion">
                <mat-hint align="end" *ngIf="categoria.get('Descripcion')!.value===''" style="color: red;">Campo Obligatorio</mat-hint>
              </mat-form-field>
              </label>

           
          </form>
        </div>
      </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>CERRAR</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="categoria.invalid" (click)="guardar()">Guardar</button>
</div>
