.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://i.pinimg.com/736x/28/f1/a9/28f1a972e13e4281b5273891ead173eb.jpg');
    background-size: cover;
  }